In [468]:
import pandas as pd
import os 
import numpy as np

## Concateación de líneas portadas

In [20]:
a=[]
for i in os.listdir(r'C:\Users\VDMG015\Documents\Programa Lealtad\Porta'):
    a.append(pd.read_csv('Porta/'+i,sep='\t'))

In [21]:
df=pd.concat(a)

In [22]:
df.to_csv('Portadas.csv',index=False)

Una vez exportado el archivo se extrae la información de las líneas en DbVisualizer

In [24]:
usr=pd.read_csv('Usuarios.csv',sep='\t')

In [27]:
usr=usr[['linea','mesproceso','tiposuscripcion','descestatuslinea','antiglinea']]

In [28]:
usr

             linea  mesproceso tiposuscripcion descestatuslinea antiglinea
0       6675824532      202108         PREPAGO           ACTIVO          3
1       8712122723      202108         PREPAGO           ACTIVO          3
2       7443765457      202108         PREPAGO           ACTIVO          2
3       7471064680      202108         PREPAGO           ACTIVO          2
4       6391241907      202108         PREPAGO           ACTIVO          2
...            ...         ...             ...              ...        ...
198449  7838393167      202002         PREPAGO   ZERO BALANCE 1         15
198450  5549327925      202002         PREPAGO   ZERO BALANCE 1          2
198451  5522594058      202002         PREPAGO           ACTIVO         41
198452  4774060504      202002         PREPAGO           ACTIVO          7
198453  9932328155      202002         PREPAGO           ACTIVO          4

[198454 rows x 5 columns]

In [30]:
eq=pd.read_csv('Equipos1.csv',sep='\t')

In [34]:
mt=pd.read_csv('Recargas1.csv',sep='\t')

In [36]:
mt.columns=['linea', 'mesproceso', 'monto', 'monto_prom', 'monto_min', 'monto_max',
       'recargas']

In [37]:
df=usr.merge(eq, how='left',on=['linea','mesproceso'])

In [39]:
df=df.merge(mt, how='left',on=['linea','mesproceso'])

In [48]:
df[df['monto'].isna()]['descestatuslinea'].value_counts()

ZERO BALANCE 1    33861
PRE ACTIVO        13888
ZERO BALANCE 2    12296
ACTIVO             6913
Name: descestatuslinea, dtype: int64

In [46]:
df.isna().sum()/len(df)

linea               0.000000
mesproceso          0.000000
tiposuscripcion     0.000000
descestatuslinea    0.000000
antiglinea          0.000000
modeloeq            0.185353
monto               0.337390
monto_prom          0.337390
monto_min           0.337390
monto_max           0.337390
recargas            0.337390
dtype: float64

In [49]:
df1=pd.read_csv('Portadas.csv')

In [57]:
df=df.merge(df1,how='left', on=['linea','mesproceso'])

In [60]:
df[df['region'].notna()]

,linea,mesproceso,tiposuscripcion,descestatuslinea,antiglinea,modeloeq,monto,monto_prom,monto_min,monto_max,recargas,region
29,6633182878,202108,PREPAGO,ZERO BALANCE 1,2,IPHONE 7 PLUS A1784,150.0,50.00,50.0,50.0,3.0,R01
30,2211576679,202108,PREPAGO,ZERO BALANCE 1,2,GALAXY A71 A715F,NaN,NaN,NaN,NaN,NaN,R07
33,9623848127,202108,PREPAGO,ACTIVO,1,GALAXY A51 A515F DUOS,200.0,66.67,50.0,100.0,3.0,R08
59,9213219451,202108,PREPAGO,ACTIVO,2,P20 LITE ANE-LX3,100.0,100.00,100.0,100.0,1.0,R07
79,6565979640,202108,PREPAGO,ZERO BALANCE 1,2,M751,50.0,50.00,50.0,50.0,1.0,R03
...,...,...,...,...,...,...,...,...,...,...,...,...
198201,5567442818,202005,PREPAGO,ZERO BALANCE 1,42,MOTO E5 PLAY XT1920-18,70.0,35.00,20.0,50.0,2.0,R09
198208,5548645453,202005,PREPAGO,ZERO BALANCE 1,33,TANK XTREME 2.4,NaN,NaN,NaN,NaN,NaN,R09
198213,2741554433,202005,PREPAGO,ZERO BALANCE 1,4,GALAXY J2 CORE J260M DUOS,100.0,50.00,50.0,50.0,2.0,R07
198218,6442447552,202005,PREPAGO,ZERO BALANCE 1,7,K4 2017 X230HV,NaN,NaN,NaN,NaN,NaN,R02
198244,4614020128,202005,PREPAGO,ZERO BALANCE 1,6,U100,120.0,40.00,20.0,50.0,3.0,R06

In [54]:
df1.columns=['linea', 'region', 'mesproceso']

In [143]:
df[df['linea']==3314530247].sort_values(by='mesproceso')

,linea,mesproceso,tiposuscripcion,descestatuslinea,antiglinea,modeloeq,monto,monto_prom,monto_min,monto_max,recargas,region
73854,3314530247,202002,PREPAGO,ZERO BALANCE 1,2,MOTO G5 XT1671,100.0,50.00,50.0,50.0,2.0,NaN
138448,3314530247,202003,PREPAGO,ZERO BALANCE 1,3,MOTO G5 XT1671,20.0,20.00,20.0,20.0,1.0,NaN
27868,3314530247,202004,PREPAGO,ACTIVO,4,K9 X210HM,150.0,50.00,50.0,50.0,3.0,NaN
77617,3314530247,202007,PREPAGO,ACTIVO,1,K9 X210HM,NaN,NaN,NaN,NaN,NaN,NaN
39936,3314530247,202008,PREPAGO,ACTIVO,2,K9 X210HM,150.0,75.00,50.0,100.0,2.0,NaN
64745,3314530247,202009,PREPAGO,ZERO BALANCE 1,3,MOTO G6 PLAY XT1922-4,60.0,20.00,20.0,20.0,3.0,NaN
5416,3314530247,202010,PREPAGO,ZERO BALANCE 1,4,MOTO G6 PLAY XT1922-4,20.0,20.00,20.0,20.0,1.0,NaN
174397,3314530247,202011,PREPAGO,ACTIVO,5,MOTO E6S XT2053-2,170.0,56.67,20.0,100.0,3.0,NaN
177525,3314530247,202012,PREPAGO,ZERO BALANCE 1,6,MOTO E6S XT2053-2,NaN,NaN,NaN,NaN,NaN,NaN
39135,3314530247,202101,PREPAGO,ZERO BALANCE 1,7,MOTO G6 PLAY XT1922-4,130.0,26.00,20.0,50.0,5.0,NaN
113893,3314530247,202102,PREPAGO,ZERO BALANCE 1,8,MOTO G8 POWER LITE XT2055-1,160.0,32.00,20.0,50.0,5.0,NaN
74248,3314530247,202103,PREPAGO,ZERO BALANCE 1,9,Y5 2018 DRA-LX3,150.0,25.00,20.0,50.0,6.0,NaN
98889,3314530247,202104,PREPAGO,ZERO BALANCE 1,10,Y5 2018 DRA-LX3,NaN,NaN,NaN,NaN,NaN,NaN
79973,3314530247,202105,PREPAGO,ZERO BALANCE 1,11,GALAXY GRAND PRIME DUOS G530H,NaN,NaN,NaN,NaN,NaN,NaN
188474,3314530247,202106,PREPAGO,ZERO BALANCE 1,12,GALAXY GRAND PRIME DUOS G530H,NaN,NaN,NaN,NaN,NaN,NaN
6045,3314530247,202107,PREPAGO,ZERO BALANCE 1,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23103,3314530247,202108,PREPAGO,ZERO BALANCE 1,14,IPHONE 6 A1549,NaN,NaN,NaN,NaN,NaN,NaN
99261,3314530247,202109,PREPAGO,ZERO BALANCE 1,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
'mesproceso'

'mesproceso'

In [155]:
df1[df1['mesproceso']==202005]['linea']

0      8715517941
1      6677469784
2      6562812546
3      2291837642
4      8714386487
          ...
995    2721526097
996    4492678074
997    4431740481
998    3321507750
999    4611449868
Name: linea, Length: 1000, dtype: int64

In [160]:
df=df[~df['linea'].isin(df1[df1['mesproceso']==202005]['linea'])]

In [163]:
df.sort_values(by='mesproceso',inplace=True)

<ipython-input-163-2476f8c00da7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by='mesproceso',inplace=True)

In [311]:
df

,linea,mesproceso,tiposuscripcion,descestatuslinea,antiglinea,modeloeq,monto,monto_prom,monto_min,monto_max,recargas,region
198457,4774060504,202002,PREPAGO,ACTIVO,7,G3 STYLUS D693N,200.0,100.00,100.0,100.0,2.0,NaN
143763,8129056972,202002,PREPAGO,ZERO BALANCE 1,22,Q10 K410G,NaN,NaN,NaN,NaN,NaN,NaN
143762,2299112160,202002,PREPAGO,ACTIVO,129,(null),300.0,150.00,150.0,150.0,2.0,NaN
143761,3111414068,202002,PREPAGO,ACTIVO,4,NOTE 8 PRO M1906G7G,300.0,100.00,100.0,100.0,3.0,NaN
143760,9931678191,202002,PREPAGO,ACTIVO,16,ONE XT1941-5,110.0,36.67,10.0,50.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
79398,5551906768,202109,PREPAGO,ZERO BALANCE 1,6,NaN,NaN,NaN,NaN,NaN,NaN,R09
79397,9933252707,202109,PREPAGO,ACTIVO,1,MOTO E6 PLAY XT2029-1,100.0,50.00,50.0,50.0,2.0,NaN
79396,2711601273,202109,PREPAGO,ACTIVO,0,MOTO E5 PLAY XT1920-18,50.0,50.00,50.0,50.0,1.0,NaN
79394,9911133195,202109,PREPAGO,ACTIVO,11,MOTO G8 PLUS XT2019-2,230.0,76.67,30.0,100.0,3.0,NaN
156080,2292645268,202109,PREPAGO,ACTIVO,2,IPHONE 6S,100.0,100.00,100.0,100.0,1.0,NaN

In [289]:
aux=df.drop_duplicates('linea',keep='last' )

In [295]:
aux['antiglinea']=aux['antiglinea'].replace('(null)','')

<ipython-input-295-a4f7c5fa4d96>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux['antiglinea']=aux['antiglinea'].replace('(null)','')

In [298]:
aux['antiglinea']=aux['antiglinea'].replace('',0)

<ipython-input-298-471ffca74902>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux['antiglinea']=aux['antiglinea'].replace('',0)

In [299]:
aux['antiglinea'].astype(int)

97749      77
198304     16
43853     176
43865       2
128026     48
         ...
79398       6
79397       1
79396       0
79394      11
156080      2
Name: antiglinea, Length: 15756, dtype: int32

In [306]:
aux['antiglinea']=aux['antiglinea'].astype(float)

<ipython-input-306-cd618fab3213>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux['antiglinea']=aux['antiglinea'].astype(float)

In [310]:
aux['antiglinea'].describe(percentiles=[.1,.25,.5,.75,.95])

count    15756.000000
mean        13.561056
std         21.949095
min          0.000000
10%          1.000000
25%          3.000000
50%          6.000000
75%         14.000000
95%         53.000000
max        214.000000
Name: antiglinea, dtype: float64

In [356]:
df1

            linea region  mesproceso
0      8715517941    R03      202005
1      6677469784    R02      202005
2      6562812546    R03      202005
3      2291837642    R07      202005
4      8714386487    R03      202005
...           ...    ...         ...
16995  5534234920    R09      202109
16996  2712140256    R07      202109
16997  4448622904    R06      202109
16998  4651545610    R06      202109
16999  6141282652    R03      202109

[17000 rows x 3 columns]

In [362]:
df[(df['linea']==2712140256)]

,linea,mesproceso,tiposuscripcion,descestatuslinea,antiglinea,modeloeq,monto,monto_prom,monto_min,monto_max,recargas,region
181361,2712140256,202009,PREPAGO,ZERO BALANCE 1,1,(null),50.0,50.0,50.0,50.0,1.0,NaN
149663,2712140256,202010,PREPAGO,ZERO BALANCE 1,2,K41S K410HM,NaN,NaN,NaN,NaN,NaN,NaN
63465,2712140256,202011,PREPAGO,ZERO BALANCE 1,3,K41S K410HM,NaN,NaN,NaN,NaN,NaN,NaN
192650,2712140256,202012,PREPAGO,ACTIVO,4,K41S K410HM,100.0,50.0,50.0,50.0,2.0,NaN
55711,2712140256,202101,PREPAGO,ACTIVO,5,K41S K410HM,100.0,50.0,50.0,50.0,2.0,NaN
34246,2712140256,202102,PREPAGO,ACTIVO,6,K41S K410HM,150.0,50.0,50.0,50.0,3.0,NaN
112374,2712140256,202103,PREPAGO,ACTIVO,7,K41S K410HM,200.0,50.0,50.0,50.0,4.0,NaN
132413,2712140256,202104,PREPAGO,ACTIVO,8,K41S K410HM,150.0,50.0,50.0,50.0,3.0,NaN
181100,2712140256,202105,PREPAGO,ZERO BALANCE 1,9,K41S K410HM,NaN,NaN,NaN,NaN,NaN,NaN
77031,2712140256,202106,PREPAGO,ACTIVO,10,K41S K410HM,150.0,50.0,50.0,50.0,3.0,NaN
8713,2712140256,202107,PREPAGO,ACTIVO,11,K41S K410HM,100.0,50.0,50.0,50.0,2.0,NaN
9075,2712140256,202108,PREPAGO,ACTIVO,12,K41S K410HM,200.0,50.0,50.0,50.0,4.0,NaN
102063,2712140256,202109,PREPAGO,ACTIVO,12,K41S K410HM,170.0,42.5,20.0,50.0,4.0,R07

In [393]:
df[df['linea']==df['linea'].sample().values[0]]

,linea,mesproceso,tiposuscripcion,descestatuslinea,antiglinea,modeloeq,monto,monto_prom,monto_min,monto_max,recargas,region
63910,9982192224,202002,PREPAGO,PRE ACTIVO,(null),NaN,NaN,NaN,NaN,NaN,NaN,NaN
184458,9982192224,202003,PREPAGO,PRE ACTIVO,(null),NaN,NaN,NaN,NaN,NaN,NaN,NaN
107567,9982192224,202004,PREPAGO,ACTIVO,0,A530,100.0,100.00,100.0,100.0,1.0,NaN
55031,9982192224,202005,PREPAGO,ACTIVO,1,A530,210.0,52.50,30.0,100.0,4.0,NaN
43937,9982192224,202006,PREPAGO,ACTIVO,2,A530,406.0,101.50,30.0,226.0,4.0,NaN
121511,9982192224,202007,PREPAGO,ACTIVO,3,A530,120.0,60.00,20.0,100.0,2.0,NaN
173814,9982192224,202008,PREPAGO,ACTIVO,4,A530,230.0,76.67,30.0,100.0,3.0,NaN
80514,9982192224,202009,PREPAGO,ACTIVO,5,A530,100.0,100.00,100.0,100.0,1.0,NaN
123413,9982192224,202010,PREPAGO,ACTIVO,6,A530,300.0,100.00,100.0,100.0,3.0,NaN
77784,9982192224,202011,PREPAGO,ACTIVO,8,A530,230.0,57.50,30.0,100.0,4.0,NaN
115238,9982192224,202012,PREPAGO,ACTIVO,9,GALAXY J5 PRIME G570M,330.0,66.00,30.0,100.0,5.0,NaN
126930,9982192224,202101,PREPAGO,ZERO BALANCE 1,10,GALAXY J5 PRIME G570M,130.0,65.00,30.0,100.0,2.0,R08
143256,9982192224,202102,PREPAGO,ACTIVO,1,GALAXY J5 PRIME G570M,50.0,50.00,50.0,50.0,1.0,NaN
160623,9982192224,202103,PREPAGO,ACTIVO,2,GALAXY J5 PRIME G570M,400.0,80.00,50.0,100.0,5.0,NaN
189008,9982192224,202104,PREPAGO,ACTIVO,3,Y6 2018 ATU-LX3,100.0,50.00,20.0,80.0,2.0,NaN
33711,9982192224,202105,PREPAGO,ACTIVO,4,Y6 2018 ATU-LX3,435.0,108.75,15.0,200.0,4.0,NaN
127975,9982192224,202106,PREPAGO,ZERO BALANCE 1,5,Y6 2018 ATU-LX3,50.0,50.00,50.0,50.0,1.0,NaN

In [396]:
a=[]
for i in df1['mesproceso'].unique():
    b=df[(df['mesproceso']<i)&(df['linea'].isin(df1[df1['mesproceso']==i]['linea']))]
    a.append(b)

In [399]:
df2=pd.concat(a)

In [450]:
df2[df2['linea']==df2['linea'].sample().values[0]]

,linea,mesproceso,tiposuscripcion,descestatuslinea,antiglinea,modeloeq,monto,monto_prom,monto_min,monto_max,recargas,region
42228,7225553204,202002,PREPAGO,ACTIVO,5,GALAXY J6 PLUS J610G,300.0,75.00,50.0,100.0,4.0,NaN
101831,7225553204,202003,PREPAGO,ACTIVO,6,MOTO E5 XT1944-4,180.0,60.00,30.0,100.0,3.0,NaN
25335,7225553204,202004,PREPAGO,ZERO BALANCE 1,7,MOTO E5 XT1944-4,180.0,60.00,30.0,100.0,3.0,NaN
135436,7225553204,202005,PREPAGO,ACTIVO,8,MOTO E5 XT1944-4,200.0,66.67,50.0,100.0,3.0,NaN
124039,7225553204,202006,PREPAGO,ACTIVO,9,MOTO E5 XT1944-4,250.0,62.50,50.0,100.0,4.0,NaN
92162,7225553204,202007,PREPAGO,ACTIVO,10,MOTO E5 XT1944-4,200.0,50.00,20.0,100.0,4.0,NaN
132732,7225553204,202008,PREPAGO,ACTIVO,11,MOTO E5 XT1944-4,150.0,50.00,50.0,50.0,3.0,NaN
108999,7225553204,202009,PREPAGO,ZERO BALANCE 1,12,MOTO E5 XT1944-4,100.0,100.00,100.0,100.0,1.0,NaN
160062,7225553204,202010,PREPAGO,ACTIVO,13,MOTO E5 XT1944-4,200.0,100.00,100.0,100.0,2.0,NaN
88515,7225553204,202011,PREPAGO,ACTIVO,14,9A M2006C3LG,200.0,66.67,50.0,100.0,3.0,NaN
164158,7225553204,202012,PREPAGO,ZERO BALANCE 1,15,9A M2006C3LG,20.0,20.00,20.0,20.0,1.0,NaN
90398,7225553204,202101,PREPAGO,ZERO BALANCE 1,16,9A M2006C3LG,50.0,50.00,50.0,50.0,1.0,NaN
143073,7225553204,202102,PREPAGO,ZERO BALANCE 1,17,9A M2006C3LG,50.0,50.00,50.0,50.0,1.0,NaN
132462,7225553204,202103,PREPAGO,ZERO BALANCE 1,18,9A M2006C3LG,NaN,NaN,NaN,NaN,NaN,NaN
179732,7225553204,202104,PREPAGO,ZERO BALANCE 1,19,9A M2006C3LG,NaN,NaN,NaN,NaN,NaN,NaN
17881,7225553204,202105,PREPAGO,ZERO BALANCE 1,20,9A M2006C3LG,NaN,NaN,NaN,NaN,NaN,NaN
130098,7225553204,202106,PREPAGO,ZERO BALANCE 1,21,9A M2006C3LG,NaN,NaN,NaN,NaN,NaN,NaN
15679,7225553204,202107,PREPAGO,ZERO BALANCE 1,22,9A M2006C3LG,NaN,NaN,NaN,NaN,NaN,NaN
23069,7225553204,202108,PREPAGO,ZERO BALANCE 1,23,9A M2006C3LG,NaN,NaN,NaN,NaN,NaN,NaN

In [453]:
df2.isna().sum()/len(df2)

linea               0.000000
mesproceso          0.000000
tiposuscripcion     0.000000
descestatuslinea    0.000000
antiglinea          0.000000
modeloeq            0.187403
monto               0.334935
monto_prom          0.334935
monto_min           0.334935
monto_max           0.334935
recargas            0.334935
region              0.999971
dtype: float64

In [459]:
df2=df2[df2['descestatuslinea']!='PRE ACTIVO']

In [462]:
df2.drop('region',axis=1,inplace=True)

C:\Users\VDMG015\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [466]:
df2=df2[df2['descestatuslinea']!='ZERO BALANCE 2']

In [470]:
df2['modeloeq']=df2['modeloeq'].replace('(null)',np.nan)

<ipython-input-470-e142009fb8c1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['modeloeq']=df2['modeloeq'].replace('(null)',np.nan)

In [472]:
df2['modeloeq'].replace('(null)',np.nan)

143785                     ILIUM X220
143769                       1V 5001A
143714           GALAXY J1 2016 J120A
68939                           E450F
68927                   MOTO C XT1756
                     ...
21438                    ONE XT1941-5
21356                             NaN
21454                           AX687
21451     GALAXY GRAND PRIME VE G531H
21448               GALAXY A70 A705MN
Name: modeloeq, Length: 119098, dtype: object

In [476]:
df2['antiglinea']=df2['antiglinea'].astype(int)

<ipython-input-476-4e3b133e3f49>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['antiglinea']=df2['antiglinea'].astype(int)

In [481]:
import pickle

In [482]:
df2.to_pickle('prep_hist.pkl')